<!--================ Start Header Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item <%= req.url === '/index' ? 'active' : '' %>"><a class="nav-link" href="/index">Home</a></li>
                        <li class="nav-item <%= req.url === '/about' ? 'active' : '' %>"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item <%= req.url === '/services' ? 'active' : '' %>"><a class="nav-link" href="/services">Services</a></li>
                        <li class="nav-item <%= req.url === '/portfolio' ? 'active' : '' %>"><a class="nav-link" href="/portfolio">Portfolio</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                             aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item <%= req.url === '/elements' ? 'active' : '' %>"><a class="nav-link" href="/elements">Elements</a></li>
                                <li class="nav-item <%= req.url === '/portfolio-details' ? 'active' : '' %>"><a class="nav-link" href="/portfolio-details">Portfolio Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                             aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item <%= req.url === '/blog' ? 'active' : '' %>"><a class="nav-link" href="/blog">Blog</a></li>
                                <li class="nav-item <%= req.url === '/single-blog' ? 'active' : '' %>"><a class="nav-link" href="/single-blog">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item <%= req.url === '/contact' ? 'active' : '' %>"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div> -->
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Area =================-->